@font-face {
   font-family: Selima;
   src: url("selima.otf");
}
.customFont {
    -fx-font-family: 'selima';
}


@font-face {
   font-family: Audrey;
   src: url("Audrey-Bold.otf");
}
.contentFont {
    -fx-font-family: 'Audrey';
}


@font-face {
   font-family: Audrey;
   src: url("Audrey-Normal.otf");
}
.contentFontBold {
    -fx-font-family: 'Audrey';
}

@font-face {
   font-family: Sarabun;
   src: url("THSarabunNew.ttf");
   font-weight: normal;
}
.thaiFont {
    -fx-font-family: 'Sarabun';
}
